/** @format */

.results-container {
	background-color: rgb(27, 27, 27);
	margin: 75px 10px;
}
.result__item {
	width: 100%;
	cursor: pointer;
}
.result__item:hover {
	background-color: rgb(133, 129, 129);
}
.channel {
	display: flex;
	width: 100%;
	cursor: pointer;
}
.channel__item__img {
	border-radius: 50px;

	margin: 20px 55px;
	aspect-ratio: 1/1;
}
.channel__item__content {
	margin: 20px 0;
}
.result__item__img {
	margin-right: 20px;
}
@media (min-width: 768px) {
	.result__item {
		display: flex;
		padding: 20px 0 20px 0;
		margin-left: 55px;
	}
	.results-container {
		margin: auto 20px;
		padding: 0 50px;
	}
}
