/** @format */

.video-page {
	overflow-x: hidden;
	margin: 90px 10px;
}
.iframe {
	height: 300px;
	width: 96%;
}
.video-container {
	flex: 0.7;
	justify-content: center;
}
.video__title {
	color: white;
	font-weight: 600;
	font-size: 1.5rem;
}
.video__statistics {
	color: grey;
}
.video__actions {
	display: flex;
	color: white;
	border-bottom: 0.1px solid white;
}
.video__action__item {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	margin: 0 10px;
	padding: 10px;
	cursor: pointer;
}
.recommended-video {
	display: flex;
	margin: 10px 15px;
	cursor: pointer;
}
.recommended-videos {
	border-top: 1px solid white;
}
@media (min-width: 1000px) {
	.video-page {
		display: flex;
	}
	.iframe {
		width: 640px;
		height: 360px;
	}
}
