/** @format */

.youtube-header {
	position: fixed;
	height: 60px;
	top: 0;
	width: 99.75%;
	z-index: 5;
	background-color: var(--youtube-black);
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.space-between {
	justify-content: space-between;
}
.header__right {
	display: flex;
	align-items: center;
}
.header__left {
	display: flex;

	align-items: center;
}

.yt-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}
.yt-header-icon {
	font-size: 2.75rem;
	cursor: pointer;
	margin: auto 5px;
}
.yt-header-icon-text {
	font-size: min(1rem, 6vw);
}
.header__right > img {
	object-fit: contain;
	height: 30px;
	margin: 10px 15px;
}
.hamburger {
	margin: 0 20px;
}
.yt-search {
	display: inline-block;
	background: black;
	color: white;
	outline: none;
	height: 40px;
	border: none;
	padding: 1px 15px;
	font-weight: 400;
	font-size: 1.125rem;
}

.search-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(58, 58, 58);
	height: 40px;
	width: 64px;
	padding: 0 30px;
	margin: auto;
	border: none;
	cursor: pointer;
}
.big-mic {
	display: block;
	border-radius: 50px;
	margin: 0 10px;
}
@media (min-width: 1100px) {
	.yt-search {
		width: 560px;
		max-width: 100%;
	}
}
.search-input-container {
	display: flex;
	align-items: center;
	margin: 0 auto;
}
