/** @format */

.youtube-header {
	position: fixed;
	height: 60px;
	top: 0;
	left: 0;
	width: 99%;
	background-color: var(--youtube-black);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__right {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__left {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.yt-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}
.yt-header-icon {
	font-size: 2.75rem;
	cursor: pointer;
	margin: auto 5px;
}
.header__right > img {
	object-fit: contain;
	height: 30px;
	margin: 10px 15px;
}
.hamburger {
	margin: 0 20px;
}
.yt-search {
	/* display: inline-block; */
	background: black;
	color: white;
	outline: none;
	height: 40px;
	border: none;
	padding: 1px 15px;
	width: 560px;
	max-width: 100%;
	font-weight: 400;
	font-size: 1.125rem;
}
.search-input-container {
	display: flex;
	align-items: center;
}
.search-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(58, 58, 58);
	height: 40px;
	width: 64px;
	margin: auto;
	border: none;
	cursor: pointer;
}
.big-mic {
	display: block;
	border-radius: 50px;
	margin: 0 10px;
}
