/** @format */

.sidebar {
	display: none;
	transition: all 0.3s ease-in;
}
.sidebar > abbr {
	display: block;
	cursor: pointer;
}
.icon {
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 20px 10px;
}
.icon__img {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.icon:hover {
	background-color: rgb(121, 121, 121);
}
.show-sidebar {
	transform: translateX(0);
}
@media (min-width: 600px) {
	.sidebar {
		display: block;
		position: sticky;
		top: 60px;
		width: 72px;
		height: 100vh;
		background: var(--youtube-black);
	}
}
