/** @format */

.header-tags-container {
	display: flex;
	align-items: center;
	margin-top: 60px;
	background-color: var(--youtube-black);
	border-bottom: 1px solid #5f5966;
	border-top: 1px solid #5f5966;
	overflow-x: scroll;
}
.header-tags-container::-webkit-scrollbar {
	display: none;
}
.header__tag {
	display: inline-block;
	border-radius: 25px;
	margin: 10px 5px;
	padding: 5px 10px;
	text-transform: capitalize;
	white-space: nowrap;
}
