/** @format */

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--youtube-red: #ff0000;
	--youtube-black: #292929;
	--youtube-white: #ffffff;
}
img {
	display: inline-block;
}
abbr {
	text-decoration: none;
}
::-webkit-scrollbar {
	background-color: #292929;
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(206, 204, 204,0.6);
	border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(206, 204, 204,0.6);
}
::-webkit-scrollbar-track {
	border-radius: 100vw;
}
.app {
	height: 100vh;
	background-color: #fc2929;
	overflow-y: overlay;
	height: 100vh;
	width: 100vw;
}
.color-white {
	color: white;
}
.yt-red {
	color: var(--youtube-red);
}
.rounded {
	border-radius: 50px;
}
.text-grey {
	color: rgb(105, 105, 105);
}
.capitalize {
	text-transform: capitalize;
}
.flex {
	display: flex;
}
.bg-black {
	background: black;
}
.text-decorate-none {
	text-decoration: none;
}
@media (min-width: 768px) {
	.sm-none {
		display: none;
	}
}
